<h1>Learning Rails in Railsway</h1>
<div class="list-body">
  <% @articles.each do |article| %>
    <div class="article-block">
      <div class="article-name"><%= link_to article.title, article.url, target: "_blank" %></div>
      <div class="article-author"><%= article.author %></div>
      <div class="article-desc"><%= article.description %></div>
    </div>
    <br>
  <% end %>
</div>
