// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-day {
  color: white;
  padding: 5px;
  margin-top: 20px;
  background-color: #CE0000;
  text-align: center;
}

.article-block {
  padding-top: 20px;
}
